/* Home.css */
.title-home {
  padding: 0px 160px;
}

.books-container {
  padding: 20px 160px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Hiển thị 5 cuốn sách mỗi hàng */
  gap: 20px; /* Khoảng cách giữa các cuốn sách */
}

.book-card {
  position: relative;
  width: 100%; /* Đảm bảo cuốn sách có chiều rộng tối đa */
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s ease-in-out;

  padding-top: 5px;
  padding-bottom: 5px;
}

.book-title {
  width: 80%;
  margin-bottom: 20px;
  font-weight: bold;
}

.book-card:hover {
  transform: translateY(-5px); /* Hiệu ứng nâng cao khi di chuột qua */
}

.book-card-link {
  position: relative; /* Cho phép sử dụng position:absolute để căn chỉnh icon trái tim */
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.book-card-link:hover {
  transform: scale(1); /* Hiệu ứng phóng to khi di chuột qua */
}

.book-image {
  width: 100%;
  height: auto;
  max-height: 200px; /* Đảm bảo chiều cao hợp lý cho hình ảnh */
  object-fit: cover; /* Hiển thị hình ảnh mà không bị méo */
}

.book-details {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.favorite-button:hover {
  transform: scale(1);
  /* color: red;  */
}

.favorite-icon {
  font-size: 2rem;
  color: #ccc;
}

.favorited {
  color: red; /* Đổi màu sắc khi đã yêu thích */
}
